*{
    margin: 0;
}

body{
    display: flex;
    flex-direction: column;
    height: 100vh;
}
/********************************************/
header {
    display: flex;
    justify-content: space-between;
    padding: 20px 30px;
    align-items: center;
}

.header_right {
    display: flex;
    align-items: center;
    justify-content: space-between;
    float: right;
}

.header_right a {
    margin-right: 20px;
    color: rgba(0,0,0,.87);
    font-size: 13px;
    font-family: Arial, Helvetica, sans-serif;
    text-decoration: inherit;
}

.header_right a:hover {
    text-decoration: underline;
    cursor: pointer;
}

.header_right .header-apps {
    margin-right: 20px;
    color: gray;
}

.header_right .header-apps:hover {
    cursor: pointer;
    box-shadow: 0 0 10px grey;
    border-radius: 50%;
    outline: none;
}

#perfil {
    border-radius: 50%;
}

#perfil:hover {
    box-shadow: 0 0 10px grey;
    cursor: pointer;
}
/********************************************/
main{
    flex: 1;
    display: flex;
    margin-top: 15px;
    flex-direction: column;
}

#logo {
    object-fit: contain;
    height: 92px;
    padding-bottom: 40px;   
}

.search {
    display: flex;
    align-items: center;
    border: 1px solid lightgrey;
    height: 30px;
    padding: 10px 20px;
    border-radius: 999px;
    width: 75vw;
    margin: 0 auto;
    max-width: 560px;
}

.search:hover {
    box-shadow: 0 0 2.5px grey;
}

.search .search-input {
    flex: 1;
    padding: 10px 20px;
    border: none;
    outline: none;
    cursor: text;
}

#searchbutton{
    color: gray;
    float: left;
    cursor: default;
}

#barra {
    border: none;
    outline: none;
    width: 400px;
    align-items: center;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 16px;
    padding-left: 10px;
}

#mic {
    color: gray;
    float: right;
    cursor: pointer;
}

.search-buttons{
    margin-top: 30px;
    display: flex;
    justify-content: center;
}

.search-buttons button {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 14px;
    color: #3c4043;
    margin: 5px;
    padding: 10px 15px;
    background-color: #f8f9fa;
    outline: none;
    border: none;
    cursor: pointer;
}

.search-buttons button:hover {
    box-shadow: 0 0 2px grey;
}

#idioma {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 13px;
    text-align: center;
    word-spacing: 1px;
    padding: 20px;
}

#idioma a {
    text-decoration: inherit;
    padding-left: 8px;
}

#idioma a:hover {
    text-decoration: underline;
}

#ubicacion {
    border-bottom: 1px solid #dadce0;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 15px;
    color: #70757a;
    padding: 15px 30px;
}

/********************************************/

footer{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
    background-color: #F2F2F2;
}

footer a {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 14px;
    text-decoration: none;
    color: #70757a;
}

footer a:hover {
    text-decoration: underline;
}

footer .footer-left {
    display: flex;
    align-items: center;
    justify-content: space-between;
    float: left;
    padding-left: 20px;
}

footer .footer-left a {
    padding-right: 15px;
}

footer .footer-right {
    display: flex;
    align-items: center;
    justify-content: space-between;
    float: right;
}

footer .footer-right a {
    padding-right: 15px;
}